<?php

declare(strict_types=1);

namespace Solver\Tasks;

use Solver\AbstractTask;

class [KEY] extends AbstractTask
{
    protected function solve(array $lines): string
    {
        return (string) count($lines);
    }
}
